body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  position: fixed;
  top: 30%;
  left: 38%
}
form {
  position: fixed;
  top: 40%;
  left: 42%;
 
}